@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.links{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    color: yellow;
    z-index: 1;
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #fbfbfb;
} 

 .backImageMobile {
   display: none;
 }
  
  .header-page {
    width: 1456px;
    display: flex;
    flex-wrap: wrap;
    color: white;
  }

 .header {
    width: 1456px;
    height: 488px;
    flex-direction: column;
    float: left;
  }

  .footer {
      display: flex;
      align-items: center;
      width: 1456px;
      height: 156px;
      flex-direction: row;
      background-color: black;
      float: left;
      justify-content: space-evenly;
      }

  .backImage {
    position: absolute;
    width: 1456px;
    z-index: -1;
  }

  .title {
    position: absolute;
    float: left;
    top: 24px;
    left: 66px;
    width: 250px;
    height: 48px;
    font-family: Impact;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.7px;
    color: #fbfbfb;
    margin-left: -2%;
    margin-top: -2.5%;
  }


   a {
    display: flex;
    flex-direction: row;
    color: #fbfbfb;
    text-decoration: none;
    padding-right: 67px;
    padding-top: 38px;
  }

  .address {
    width: 175px;
    height: 75px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: -0.7px;
    color: #fbfbfb;
    left: 134px;
    top: 39px;
    bottom: 42px;
    right: 1131px;
    margin-top: -2.8%;
  }

  .hours {
    top: 39px;
    bottom: 42px;
    left: 387px;
    right: 969px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: -0.7px;
    color: #ffffff;
  }

  .text {
    top: 30px;
    bottom: 40px;
    right: 134px;
    left: 747px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;
    color: #fbfbfb
  }

  .not-bold{
    font-weight: normal;
  }

  @media screen and (max-width: 480px) and (min-width: 320px) {
    .backImage {
        display: none;
       }

    .title {
      display: none;
    }   

    .header-page {
      width: 480px;
      height: 352px;
      display: flex;
      /* flex-wrap: wrap; */
      color: white;
    }

    .header {
      display:none;
    }

    .backImageMobile{
      display: inline;
      width: 320px;
      height: 142px;
    }

    .footer {
      display: flex;
      /* align-items: left; */
      width: 480px;
      height: 300px;
      flex-wrap: wrap;
      flex-direction: column;
      background-color: white;
      float: left;
      align-content: stretch;
      /* justify-content: space-evenly; */
      }

    .address {
      width: 30%;
      height: 90px;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: -0.7px;
      color: black;
      left: 10px;
      top: 11px;
      bottom: 10px;
      /* right: 1131px; */
      /* margin-top: -2.8%; */
    }
  
    .hours {
      height: 90px;
      width: 30%;
      top: 11px;
      /* bottom: 10px;
      left: 10px;
      right: 10px; */
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      /* letter-spacing: -0.7px; */
      color: black;
    }
  
    .text {
      width: 30%;
      display: flex;
      align-self: flex-end;
      left: 22px;
      top: 11px;
      bottom: 10px;
      /* right: 134px;
      left: 747px; */
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      /* line-height: 1.18; */
      letter-spacing: normal;
      color: black;
    }
  
     
    }