.App {
<<<<<<< HEAD
    width: 1444px;
}

@media screen and (max-width: 320px) and (min-width: 300px){
    .App {
        width: 320px;
    }
=======
  height: 100%;
  width: 1444px;
}

html {
  scroll-behavior: smooth;
>>>>>>> 84f61e70b5d01f471a02a5ba2439d6d3ff15098f
}